[Unit]
Description=Drogue Gateway service
After=btm.service

[Service]
Environment="RUST_LOG=trace,tokio=info,runtime=info"
ExecStart=/opt/gateway/run_gateway.sh
User=root
Group=root
Restart=always

[Install]
WantedBy=default.target
